/**
 * Any custom CSS added here will be applied to the site.
 */

:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddc0;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddc0;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

html[data-theme='dark'] {
  background-color: #121212;
}

.button--primary {
  background-color: var(--ifm-color-primary);
  border-color: var(--ifm-color-primary);
}

.button--primary:hover {
  background-color: var(--ifm-color-primary-light);
  border-color: var(--ifm-color-primary-light);
}

.footer--dark {
  background-color: #1e1e1e;
}

body {
    font-family: 'Inter', sans-serif;
}

.blog-post__image {
  border-radius: 10px;
  margin-bottom: 2rem;
}

.blog-post__content {
  font-size: 1.1rem;
  line-height: 1.6;
}

.blog-post__title {
  font-size: 3rem;
  font-weight: bold;
}

.blog-post__content h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
}
